@model PreSemester_Project.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CenterPreferences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CenterPreferences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availablity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availablity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalBackground)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationalBackground)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentLicenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentLicenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactHomePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactHomePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactWorkPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactWorkPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriversLicense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriversLicense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialSecurity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialSecurity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    <a asp-action="ManageVolunteers">Back to Volunteers</a>
</div>
