@model PreSemester_Project.Models.Volunteer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Volunteer</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.id" class="form-control" />

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="@Model.Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" value="@Model.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenterPreferences" class="control-label"></label>
                <input asp-for="CenterPreferences" class="form-control" value="@Model.CenterPreferences" />
                <span asp-validation-for="CenterPreferences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" value="@Model.Skills" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availablity" class="control-label"></label>
                <input asp-for="Availablity" class="form-control" value="@Model.Availablity" />
                <span asp-validation-for="Availablity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" value="@Model.StreetAddress" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" value="@Model.City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" value="@Model.State" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" value="@Model.ZipCode" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control"  value="@Model.HomePhone" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhone" class="control-label"></label>
                <input asp-for="CellPhone" class="form-control"  value="@Model.CellPhone" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhone" class="control-label"></label>
                <input asp-for="WorkPhone" class="form-control"  value="@Model.WorkPhone" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"  value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducationalBackground" class="control-label"></label>
                <input asp-for="EducationalBackground" class="form-control"  value="@Model.EducationalBackground" />
                <span asp-validation-for="EducationalBackground" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentLicenses" class="control-label"></label>
                <input asp-for="CurrentLicenses" class="form-control"  value="@Model.CurrentLicenses" />
                <span asp-validation-for="CurrentLicenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactName" class="control-label"></label>
                <input asp-for="EmergencyContactName" class="form-control"  value="@Model.EmergencyContactName" />
                <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactHomePhone" class="control-label"></label>
                <input asp-for="EmergencyContactHomePhone" class="form-control"  value="@Model.EmergencyContactHomePhone" />
                <span asp-validation-for="EmergencyContactHomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactWorkPhone" class="control-label"></label>
                <input asp-for="EmergencyContactWorkPhone" class="form-control"  value="@Model.EmergencyContactWorkPhone" />
                <span asp-validation-for="EmergencyContactWorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactEmail" class="control-label"></label>
                <input asp-for="EmergencyContactEmail" class="form-control"  value="@Model.EmergencyContactEmail" />
                <span asp-validation-for="EmergencyContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactAddress" class="control-label"></label>
                <input asp-for="EmergencyContactAddress" class="form-control"  value="@Model.EmergencyContactAddress" />
                <span asp-validation-for="EmergencyContactAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriversLicense" class="control-label"></label>
                <input asp-for="DriversLicense" class="form-control"  value="@Model.DriversLicense" />
                <span asp-validation-for="DriversLicense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialSecurity" class="control-label"></label>
                <input asp-for="SocialSecurity" class="form-control"  value="@Model.SocialSecurity" />
                <span asp-validation-for="SocialSecurity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalStatus" class="control-label"></label>
                <select asp-for="ApprovalStatus" class="form-control" value="@Model.ApprovalStatus">
                    <option value="Approved">Approved</option>
                    <option value="Pending Approval">Pending Approval</option>
                    <option value="Disapproved">Disapproved</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Cancel" class="btn btn-primary" formnovalidate="formnovalidate" formaction="CancelVolunteer" style="float:right" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ManageVolunteers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
