@model PreSemester_Project.Models.Volunteer

@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Volunteer Management System</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="" asp-append-version="true"/>   <!--Add css -->
    </head>

    <body>
        <div id="header">
            <h1 class="display-4">Welcome to the Volunteer Management System</h1>
        </div>  

        @ViewBag.error

        <form method="post" action="@Url.Action("Login", "Home")">
            <table>
                <tr>
                    <td>
                        @Html.Label("Username:")
                    </td>
                    <td>
                        @Html.TextBox("Username")
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Password")
                    </td>
                    <td>
                        @Html.Password("Password")
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Login" />
                    </td>
                </tr>
            </table>
        </form>


    </body>
</html>
