@model IEnumerable<PreSemester_Project.Models.Volunteer>

@{
    ViewData["Title"] = "Landing";
}

<h1>Landing</h1>

@ViewBag.Update


<p>
</p>

@using (@Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <table>
        <tr>
            <td colspan="3">
                <a asp-action="Create">Create New</a>
            </td>
            <td>@Html.TextBox("Key")</td>
            <td><button type="submit">Search</button></td>
        </tr>
    </table>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, null) |
            </td>
        </tr>
}
    </tbody>
</table>
