@model IEnumerable<PreSemester_Project.Models.Volunteer>

@{
    ViewData["Title"] = "ManageVolunteers";
}

<h1>Manage Volunteers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p class="text-danger">@TempData["error"]</p>
<p class="text-warning">@TempData["filteredBy"]</p>

<form method="get" asp-action="Search">
    <table>
        <tr>
            <td><input type="text" placeholder="Volunteer Name" name="Key" value="Evans" class="form-control" /> </td>
            <td><input type="submit" value="Search" class="btn btn-primary"></td>
        </tr>
    </table>
</form>
<form method="get" asp-action="Filter">
    <table>
        <tr>
            <td>
                <select name="approvalStatus" id="approvalStatus" class="form-control">
                    <option value="Approved/Pending Approval">Approved / Pending Approval</option>
                    <option value="Approved">Approved</option>
                    <option value="Pending Approval">Pending Approval</option>
                    <option value="Disapproved">Disapproved</option>
                    <option value="Inactive">Inactive</option>
                    <option value="All">All</option>
                </select>
            </td>
            <td>
                <input type ="submit" value="Filter" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
