@model IEnumerable<PreSemester_Project.Models.Opportunity>
@{
    ViewData["Title"] = "SearchOppResults";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Pages.css" asp-append-version="true" />

</head>


<div class="header">
    <img src="~/Images/BitworksLogo.png" id="header-img" />
    <h2>Volunteer Management System</h2>
</div>

<h1>Search Results</h1>
<div class="table-with-content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.oppCenter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.oppName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfEvent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th style="width: 33%">
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.oppCenter)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.oppName)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOfEvent)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { oppID = item.oppID }) |
                        @Html.ActionLink("Details", "Details", new { oppID = item.oppID }) |
                        @Html.ActionLink("Delete", "Delete", new { oppID = item.oppID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Manageopportunities">Back to Opportunities</a>
    </div>
</div>


