@model PreSemester_Project.Models.VolunteerMatchesView

@{
    ViewData["Title"] = "VolunteerMatches";
}

<h1>Volunteer Matches</h1>
<br />
<br />


<p>These are the volunteer matches @Model.opportunity.oppName at @Model.opportunity.oppCenter/p>
<br />
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                Center Name
            </th>
            <th>
                Title
            </th>
            <th>
                Date and Time of the Event
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model._volunteerList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CellPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availablity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalStatus)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Manageopportunities">Back to Opportunities</a>
</div>
